body{
    direction: rtl;
    text-align: right;
}
.owl-carousel{
    direction: ltr;
}
@media screen and (max-width: 991px) {

}
@media screen and (max-width: 767px) {

}
@media screen and (max-width: 575px) {

}